snippet com "Comment banner"
	/*
	***************************************************************
	* ${1}
	***************************************************************
	*/
	${0}

snippet fn "Function template"
	function $1($2){
		$0
	}


